.pictures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}
    
.div2 {
    grid-column: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.div4 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.div5 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.div6 {
    grid-column-start: 4;
    grid-row-start: 1;
}

.div7 {
    grid-column-start: 5;
    grid-row-start: 1;
}