/* CSS - Name: "positionstyles.css" */

/* -------------------------------------------- */
/* Activity 1 styles                            */
/* -------------------------------------------- */
.content1 {
  /* Turn on grid for the parent container */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.red1 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
  grid-column: 1 / 3;
} 
.green1 {
  width: 200px; 
  height: 200px; 
  background-color: green; 
} 
.yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 
.blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
  grid-column: 1 / 3;
} 


/* -------------------------------------------- */
/* Activity 2 styles — diagonal overlapping boxes */
/* -------------------------------------------- */
.content2 {
  position: relative;
  width: 250px;
  height: 250px;
}

/* Each box is offset diagonally by 40px */
.red2 {
  width: 80px;
  height: 80px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.green2 {
  width: 80px;
  height: 80px;
  background-color: green;
  position: absolute;
  top: 40px;
  left: 40px;
}

.yellow2 {
  width: 80px;
  height: 80px;
  background-color: gold;
  position: absolute;
  top: 80px;
  left: 80px;
}

.blue2 {
  width: 80px;
  height: 80px;
  background-color: blue;
  position: absolute;
  top: 120px;
  left: 120px;
} 


/* -------------------------------------------- */
/* Activity 3 styles                            */
/* -------------------------------------------- */
.content3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.red3 {
  background-color: red;
  width: 100%;
  height: 100px;
  grid-column: 1 / 3;
}

.green3 {
  background-color: green;
  width: 100%;
  height: 150px;
  grid-column: 1;
}

.yellow3 {
  background-color: gold;
  width: 100%;
  height: 150px;
  grid-column: 2;
}

.blue3 {
  background-color: blue;
  width: 100%;
  height: 100px;
  grid-column: 1 / 3;
}


/* -------------------------------------------- */
/* Activity 4 styles — red on the left, 3 stacked on the right */
/* -------------------------------------------- */
.content4 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* left and right halves */
  grid-template-rows: 1fr 1fr 1fr; /* 3 equal rows */
  height: 300px;
}

.red4 {
  background-color: red;
  grid-column: 1;         /* Left side only */
  grid-row: 1 / 4;        /* Span all 3 rows */
}

.green4 {
  background-color: green;
  grid-column: 2;         /* Right side */
  grid-row: 1;            /* Top */
}

.yellow4 {
  background-color: gold;
  grid-column: 2;         /* Right side */
  grid-row: 2;            /* Middle */
}

.blue4 {
  background-color: blue;
  grid-column: 2;         /* Right side */
  grid-row: 3;            /* Bottom */
}


/* -------------------------------------------- */
/* Activity 5 styles                            */
/* -------------------------------------------- */
.content5 {
  height: 400px;
  line-height: 1.4;
  overflow: hidden
}

/* Red box below yellow, touching it */
.red5 { 
  width: 100%;
  height: 100px;
  background-color: red;
  margin-bottom: 0px;
} 

.green5 { 
  width: 100px; 
  height: 100px; 
  background-color: green; 
  float: left;       /* Text wraps around this box */
  margin: 10px 20px 10px 0;
} 

.yellow5 {
  background-color: gold; 
  padding: 10px;
} 

/* Blue box below red, touching it */
.blue5 {
  width: 100%;
  height: 100px;
  background-color: blue;
  margin-top: 0px;
} 


/* -------------------------------------------- */
/* Activity 6 styles                            */
/* -------------------------------------------- */
.content6 {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.red6 {
  width: 250px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.blue6 {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 80px;
  left: 100px;
  z-index: 3;
}

.yellow6 {
  width: 150px;
  height: 300px;
  background-color: gold;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 4;
}

.green6 {
  width: 150px;
  height: 150px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
}


/* -------------------------------------------- */
/* Do not make any changes below here            */
/* -------------------------------------------- */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear: both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}